@import "../../styles/common.scss";

.menu {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  transition: 0.6s;

  .menu-wrapper {
    @include flex(center, flex-start);
    flex-wrap: wrap;
    width: 100%;

    .menu-left {
      @include flex(center, flex-start);
      gap: 15px;
      flex: 1;
      @include tablet {
        gap: 20px;
      }
      .menu-mobile-toggle {
        display: none;

        @include tablet {
          display: block;
          font-size: 2rem;
        }

        @include mobile {
          font-size: 1.5rem;
        }
      }

      .logo {
        cursor: pointer;
        @include mobile {
          text-align: center;
          flex: 1;
        }
      }

      .navbar-mobile-active {
        // left: 0 !important;
        transform: unset !important;
        transition: transform 0.3s ease-in !important;
      }
      .navbar {
        @include tablet {
          position: fixed;
          left: 0;
          top: 0;
          width: 50%;
          height: 100vh;
          display: block;
          background-color: $bg-white;
          overflow-y: auto;
          box-shadow: 0px 15px 15px #0000002e;
          transform: translateX(-500px);
          transition: transform 0.3s ease-in;
          z-index: 999;
        }

        @include mobile {
          width: 85%;
        }
        .navbar-menu-mobile {
          @include tablet {
            box-shadow: 0 0 2px 0 #c3c3c3;
            border-bottom: 1px solid #dbdbdb;
            margin-bottom: 4px;
          }
          @include mobile {
            @include flex(center, space-around);
          }
          .nav-sections {
            display: none;
            @include tablet {
              display: none;
            }
            @include mobile {
              display: flex;
              align-items: center;
              gap: 5px;

              .nav-sections-item {
                padding: 17px;
                color: $txt-gray;
                font-size: 1.2rem;
                font-weight: 500;
              }
              .nav-sections-item.nav-sections-active {
                color: $text-main;
                background-color: #e8e8e8;
              }
            }
          }
          .navbar-mobile-close {
            display: none;

            @include tablet {
              text-align: center;
              padding: 17px;
              display: block;

              text-transform: capitalize;
              span {
                font-size: 1.2rem;
                font-weight: 500;

                @include mobile {
                  color: $txt-gray;
                }
              }
            }
          }
        }

        .navbar-nav {
          display: flex;
          gap: 60px;

          @include tablet {
            gap: 20px;
            flex-direction: column;
          }
          @include mobile {
            gap: 10px;
          }
          .nav-item {
            display: inline-block;

            &:hover .dropdown {
              transition: all 0.5s ease;
              top: 60px;
              opacity: 1;
              visibility: visible;
            }

            &:hover .fixed-dropdown {
              transition: all 0.5s ease;
              top: 60px !important;
              padding-top: 0px !important;
            }

            &:hover a:after {
              content: "";
              left: -10px;
              right: -10px;
              height: 40px;
              position: absolute;
              top: 100%;
              margin-top: -3px;
              display: block;
            }

            @include tablet {
              margin: 0 !important;
              font-size: 16px;
              line-height: 20px;
              border-bottom: 1px solid #dadada;
              padding: 12px 20px;

              &:hover .dropdown {
                position: static;
                transition: all 0.5s ease;
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
              }
            }
            @include mobile {
              padding: 5px 20px;
            }
            .nav-link {
              text-transform: uppercase;
              font-weight: 500;
              font-size: 1.1rem;
              color: $text-main;
              line-height: 36px;
              position: relative;

              @include tablet {
                font-size: 1.7rem;
              }

              @include mobile {
                font-size: 1rem;
              }

              &:hover {
                color: $text-quickly;
              }
            }
            .activated {
              color: red;
            }
          }
        }
        .navbar-user-mobile {
          display: none;
          @include tablet {
            display: none;
          }

          @include mobile {
            display: flex;
            gap: 10px;
            flex-direction: column;

            .nav-user-mobile-item {
              margin: 0 !important;
              font-size: 1.1rem;
              line-height: 20px;
              border-bottom: 1px solid #dadada;
              padding: 12px 20px;
              font-weight: 500;
            }
          }
        }
        .active-user {
          display: none;
        }
      }
    }
    .menu-right {
      display: inline-flex;
      align-items: center;
      gap: 40px;
      position: relative;

      .search-wrapper {
        padding: 10px 15px 10px;
        border-radius: 20px;
        background-color: #cfd3cb33;

        @include mobile {
          display: none;
        }

        input {
          margin-left: 15px;
          border: none;
          outline: none;
          background: transparent;
          font-size: 1.1rem;
        }
      }

      .menu-wrap-mobile {
        display: none;

        @include mobile {
          display: flex;
          align-items: center;
          gap: 11px;
        }
        .icon-menu-mobile {
          font-size: 1.5rem;
        }
      }
      .menu-wrap-icon {
        display: inline-flex;
        gap: 40px;
        align-items: center;

        @include mobile {
          display: none;
        }
        .icon-menu {
          font-size: 1.5rem;
          cursor: pointer;
          &:hover {
            color: $text-quickly;
          }
        }
      }
      //start block cart
    }
  }
}

.fixed {
  position: fixed;
  background-color: white;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  animation: fadeOut 0.5s linear;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0px 1px 3px 0 #e0e0e0;
}

.fixed-dropdown {
  top: 100px !important;
}
.dropdown {
  position: absolute;
  background-color: transparent;
  width: 100%;
  left: 0;
  top: 125px;
  opacity: 0;
  visibility: hidden;
  padding-top: 56px;
  -webkit-box-shadow: 5px 15px 11px 2px #00000052;
  box-shadow: 5px 15px 11px 2px #00000049;
  z-index: 999;

  @include tablet {
    padding: 0 20px 0;
    box-shadow: none;
    transform: translateY(-100px);
  }

  .dropdown-wrapper {
    background-color: $bg-white;
    .dropdown-menu {
      display: flex;
      justify-content: space-between;
      padding-top: 40px;
      padding-bottom: 55px;
      background-color: $bg-white;

      @include tablet {
        padding: 0;
        flex-direction: column;
      }

      .row-dropdown {
        &:nth-of-type(1) {
          flex-grow: 2;
        }

        &:nth-of-type(n + 2) {
          flex-grow: 0.8;
          .dropdown-title {
            font-size: 1.3rem;
            line-height: 2;
            text-transform: capitalize;
          }
          .dropdown-item {
            font-size: 0.9rem;
            font-weight: 500;
            line-height: 1.8;
            color: $txt-gray;
            cursor: pointer;

            @include tablet {
              font-size: 1.5rem;
              font-weight: 500;
              line-height: 2.7;
              color: $text-main;
            }

            @include mobile {
              font-size: 1.2rem;
            }

            &:hover {
              color: $text-quickly;
            }
          }
        }

        &:last-child {
          flex-grow: 6;
          background: center center no-repeat;
          background-size: contain;
          height: 240px;
        }

        @include tablet {
          flex: 1;

          &:last-child {
            display: none;
          }
          &:nth-of-type(1) {
            display: none;
          }
          .dropdown-title {
            display: none;
          }
        }

        img {
          width: 100%;
        }
      }
    }
  }
}

// table mobile
// .dialog-cart {
//   position: absolute;
//   width: 420px;
//   top: 50px;
//   right: 0;
//   opacity: 0;
//   visibility: hidden;
//   transition: all 0.5s ease;
//   z-index: 999;

//   &.active-dialog {
//     top: 0;
//     opacity: 1;
//     visibility: visible;
//     transition: all 0.5s ease;
//   }

//   .block-cart {
//     background-color: #fff;
//     margin: 95px 0 0;
//     position: absolute;
//     top: 100%;
//     right: 0;
//     max-width: 100%;
//     padding: 0 8px 8px;
//     -webkit-box-shadow: 0 6px 10px #00000040;
//     box-shadow: 0 6px 10px #00000040;

//     @include mobile {
//       position: fixed;
//       top: 0;
//       left: 0;
//       margin: 0 !important;
//       width: 100%;
//       height: 100%;
//     }
//     &.block-cart-fixed {
//       margin-top: 50px !important;
//       @include mobile {
//         margin: 0 !important;
//       }
//     }

//     .cart-mobile-title {
//       display: none;
//       @include mobile {
//         @include flex(center, space-between);
//         padding: 10px;
//       }
//     }

//     .block-cart-wrapper {
//       padding: 30px;

//       .block-cart-text {
//         text-align: center;
//         font-weight: 500;
//         color: $txt-gray;

//         &::before {
//           content: "";
//           display: block;
//           width: 90px;
//           height: 107px;
//           background-position: center;
//           background-repeat: no-repeat;
//           margin: 0 auto 30px;
//           background-size: 100% 100%;
//           background-image: url("../../assets/images/cart/cart.png");
//         }
//       }
//     }
//   }
// }
