@import "../../styles/common.scss";
.cart {
  margin-top: 20px;
  .cart-title {
    display: flex;
    gap: 20px;
    .cart-title-home {
      border-right: 3px solid $text-main;
      color: $txt-gray;
      padding-right: 20px;

      &:hover .home-back {
        color: $text-quickly;
        text-decoration: revert;
      }
    }
    .cart-title-text {
      text-transform: uppercase;
    }
  }

  .cart-content {
    padding: 60px 0 60px;
    .cart-row {
      @include flex(flex-start, space-between);
      margin-top: 90px;
      gap: 20px;
      @include mobile {
        margin-top: 30px;
      }
      .cart-container {
        width: 100%;
        .shopping-cart-bottom {
          @include flex(center, space-between);
          margin-top: 20px;

          @include mobile {
            align-items: stretch;
            flex-direction: column-reverse;
            margin-bottom: 50px;
          }

          .cart-summary {
            width: 35%;
            @include mobile {
              width: auto;
            }
            .cart-summary-count-content {
              .cart-summary-total,
              .cart-summary-price {
                @include flex(center, space-between);

                .cart-summary-price-title {
                  color: $text-quickly;
                }
                font-size: 1.2rem;
                font-weight: 500;
                padding: 10px 0 10px;
              }
            }
            .proceed-to-checkout {
              text-align: center;
              margin-top: 50px;
              padding: 14px;
              background-color: $text-main;
              color: white;
              font-weight: 500;
              font-size: 1.1rem;
              cursor: pointer;
            }
          }
          .cart-left {
            align-self: flex-end;
            width: 35%;
            @include mobile {
              align-self: stretch;
              width: auto;
            }
            .cart-banner-bottom {
              text-align: center;
              margin-top: 50px;
              padding: 14px;
              background-color: white;
              border: 1px solid $text-main;
              color: $text-main;
              font-weight: 500;
              font-size: 1.1rem;
              cursor: pointer;
            }
          }
        }
      }
      .cart-right {
        @include tablet {
          display: none;
        }
      }
    }

    .cart-empty {
      padding: 110px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      @include mobile {
        padding: 50px;
      }
      .cart-empty-image-wrap {
        text-align: center;
        font-weight: 500;
        color: $txt-gray;

        &::before {
          content: "";
          display: block;
          width: 150px;
          height: 150px;
          background-position: center;
          background-repeat: no-repeat;
          margin: 0 auto 30px;
          background-size: 100% 100%;
          background-image: url("../../assets/images/cart/empty-cart.png");
        }
      }
      .continue-shopping-link {
        background-color: $text-main;
        color: white;
        padding: 7px 50px 7px;
        margin: 30px 0 30px;
        border-radius: 5px;
        font-weight: 500;
        cursor: pointer;
      }
    }
  }
}
