@import "../../styles/common.scss";

.product {
  .product-title {
    h3 {
      margin-top: 50px;
      margin-bottom: 20px;
      text-align: center;
      font-weight: 600;
      font-size: 2.3rem;
      text-transform: uppercase;
    }
  }

  .product-wrapper {
    @include flex(center, space-between);
    gap: 10px;
    flex-wrap: wrap;
    .product-item {
      flex: 1;
      &:hover .product-item-img .product-item-buynow {
        opacity: 1;
        visibility: visible;
        transition: 0.3s;
      }
      .product-item-img {
        position: relative;

        // &:hover .product-item-buynow {
        //   opacity: 1;
        //   visibility: visible;
        //   transition: 0.3s;
        // }

        img {
          width: 100%;
        }
        .product-item-buynow {
          position: absolute;
          display: flex;
          flex-direction: column-reverse;
          padding: 70px;
          background-color: rgba(7, 7, 7, 0.3);
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
          visibility: hidden;

          cursor: pointer;
          transition: all 0.3s ease-in;
          z-index: 20;

          @include tablet {
            padding: 30px;
          }

          span {
            text-align: center;
            padding: 10px;
            background-color: $bg-white;
            border-radius: 5px;
            font-size: 1.3rem;
            text-transform: uppercase;

            &:hover {
              background-color: $text-quickly;
              color: $bg-white;
            }

            @include tablet {
              border-radius: 4.5px;
              font-size: 0.8rem;
            }
          }
        }
      }
    }

    .product-item-details {
      margin-top: 15px;
      padding: 5px;
      cursor: pointer;

      .product-item-name,
      .product-item-price {
        font-size: 1.3rem;
        font-weight: 500;

        @include tablet {
          font-size: 1.1rem;
        }

        @include mobile {
          font-size: 0.9rem;
        }
      }
      .product-item-name {
        color: $txt-gray;
        @include mobile {
          padding-bottom: 2px;
        }
      }
    }
  }
}
// product slider

.product-item-slider {
  &:hover .product-item-slider-img .product-item-slider-buynow {
    opacity: 1;
    visibility: visible;
    transition: 0.3s;
  }
  .product-item-slider-img {
    max-width: 250px;
    max-width: 180px;
    position: relative;

    img {
      width: 100%;
      height: 100%;
    }
    .product-item-slider-buynow {
      position: absolute;
      display: flex;
      flex-direction: column-reverse;
      padding: 25px;
      background-color: rgba(7, 7, 7, 0.3);
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      visibility: hidden;
      cursor: pointer;
      transition: all 0.3s ease-in;
      z-index: 20;

      span {
        text-align: center;
        padding: 5px;
        background-color: $bg-white;
        border-radius: 5px;
        font-size: 0.9rem;
        text-transform: uppercase;

        &:hover {
          background-color: $text-quickly;
          color: $bg-white;
        }
      }
    }
  }
  .product-item-slider-details {
    .product-item-slider-name,
    .product-item-slider-price {
      font-size: 1rem;
      font-weight: 500;
    }
    .product-item-slider-name {
      color: $txt-gray;
    }
  }
}
