@import "../../styles/common.scss";
.catalog {
  margin-top: 20px;

  .catalog-wrapper {
    margin-top: 20px;
    .catalog-content {
      display: flex;
      gap: 50px;

      .sidebar-main {
      }
    }
  }
}
